@for (course of courses; track course.id) {
    <p>Course Name: {{ course.name}}</p>
    <p>Course Description: {{ course.description }}</p>
    <p>Course Duration: {{ course.duration }}</p>
}

<p>Add Course by submitting the form</p>
<form (ngSubmit)="addCourse()">
    <input type="text" placeholder="Enter course name" [(ngModel)]="courseName" name="name">
    <input type="text" placeholder="Enter course description" [(ngModel)]="courseDescription" name="description">
    <input type="text" placeholder="Enter course duration" [(ngModel)]="couresDuration" name="duration">
    <button type="submit">Add Course</button>
</form>
<p>student works!</p>

<button (click)="changeName()">Change Name</button>

<button [disabled]="isDisabled">Disabled button</button>
<p>counter: {{ counter }}</p>
<button (click)="increase()">Increase Counter</button>
<input [(ngModel)]="nickname" placeholder="Enter nickname" />
<p>Nickname: {{ nickname }}</p>
@if (isLogedIn) {
<p>Name: {{ name }}</p>
<img [src]="imageUrl" alt="Student Image" />
<button (click)="logout()">Logout</button>
}
@else {
    <input type="email" placeholder="Enter email" [(ngModel)]="email">
    <input type="password" placeholder="Enter password" [(ngModel)]="password">
    <button (click)="setIslogedIn()">Login</button>
}

<p>Student Full Name: {{ studentFullName() }}</p>
<p>Student Address: {{ studentAddress() }}</p>

<button (click)="delete()">Delete Student</button>

<div>
    <p>Students Count: {{ students.length }}</p>
  @for (student of students; track student.id) {
    <p>Student Name: {{ student.name }} - Email: {{ student.email }}</p>
  }
</div>